@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Time Trax</h1>
    <p class="lead">A modern Time Tracking program for the busy IT professional on the go.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Track Staff</h2>
        <p>
            Track employees, contractors and any other shmo that works for you.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track Projects</h2>
        <p>Track Projects and Tasks easily</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track Time</h2>
        <p>Keep detail time logs of all the very mportant work you do!</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>